.catalogSorting
    box horizontal middle
    margin-bottom 16px
    +below(768px)
        padding 0 20px
    +below(600px)
        flex-wrap wrap
        span
            width 100%
            margin-bottom 5px
            padding-left 12px
    a
        position relative
        margin-right 9px
        padding 7px 12px
        color #212121
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 300
        line-height 16px
        text-decoration none
        &:hover
            background-color #f5f5f5
    .catalogSortingActive
        padding 7px 18px 7px 12px
        color #44c8f5
    .catalogSortingActiveAsc
        &:after
            triangle right-iso pointing-down
            display block
            position absolute
            top center
            right 6px
            width 8px
            background-color #44c8f5
            content ''
    .catalogSortingActiveDesc
        &:after
            triangle right-iso pointing-up
            display block
            position absolute
            top center
            right 6px
            width 8px
            background-color #44c8f5
            content ''