.catalogTextBlock
    box horizontal middle
    margin-bottom 25px
    text-decoration none
    +below(768px)
        width calc(100% - 40px)
        margin-left 20px
    +below(600px)
        box vertical top left
        width 100%
        margin-left 0

.catalogTextBlockImage
    display block
    margin-right 5px
    size 115px
    img
        size 115px
    +below(600px)
        display none

.catalogTextBlockText
    box vertical middle left
    flex 1 1 auto
    padding 0 65px
    background-color #c2db71
    align-self stretch
    +below(600px)
        padding 20px 30px
    h3
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 300
        line-height 28px
    p
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 200
        line-height 22px