.contact
    width 100%
    margin-bottom 50px
    padding 0 70px
    +below(768px)
        padding 0 20px

.contactHeader
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal

.contactContent
    lost-column 10 / 12 1 flex
    box horizontal middle
    margin-bottom 60px
    lost-offset 1 / 12 flex
    +below(768px)
        lost-column 1 / 1 flex
        box vertical top
        margin 0
        padding 0
        lost-offset 0 / 1

.contactPhone
    lost-column 5 / 12
    +below(768px)
        lost-column 1 / 1
        box vertical top
        width 100%
        margin-bottom 20px
    a
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        text-decoration none
        order 1
    &Title
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.contactText
    lost-column 7 / 12
    +below(768px)
        lost-column 1 / 1
        width 100%
        margin-bottom 30px
    p
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.contactForm
    width 100%
    padding 63px calc((99.9% * 1 / 12) - 30px - (30px * 1 / 12) + 30px * 2) 15px
    background-color #f5f5f5
    +below(768px)
        width 100%
        padding 63px 30px 30px

.contactFormHeader
    margin-bottom 48px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 30px
    font-weight 600
    line-height 36px

.contactFormColumns
    box horizontal middle
    flex-wrap wrap

.contactFormColumn
    lost-column 1 / 2 2 55px flex
    +below(600px)
        lost-column 1 / 1 1 flex

.contactFormItem
    margin-bottom 48px
