.modal#modal_wish
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2 Товар добавлен в Wishlist
        p Вы можете перейти в избранное или продолжить покупки
    .modalForm
        .modalFormRow
            a(href="#").buttonBlueMedium Избраное
            button.buttonSimpleText.js-modal-close Продолжить покупки

