.modal#modal_login
    .modalClose
        +svgIcon('icon-close')
    .modalHeader
        h2(data-tabs)
            a(data-tab href='#tabLogin') Вход
            a(data-tab href='#tabRegistration') Регистрация
    .modalTabs(data-tabs-content)
        .modalTab.tabs-pane.active#tabLogin(data-tabs-pane)
            form.modalForm
            .modalFormItem
                .uiTextInputGroup
                    input(type="text" placeholder="Логин или номер телефона")
                    label Логин или номер
            .modalFormItem
                .uiTextInputGroup
                    input(type="text" placeholder="Код подтверждения")
                    label Код подтверждения
            .modalFormItem
                .modalLoginSocial
                    a(href="#")
                        +svgIcon('icon-vk')
                    a(href="#")
                        +svgIcon('icon-fb')

            .modalFormSubmit
                button.buttonBlueMedium Войти
                a(href="#").buttonSimpleText Восстановить доступ
            .modalFormItem
                input( type="checkbox")#memberme
                label(for="memberme").checkbox Запомнить меня на этом компьютере
        .modalTab.tabs-pane#tabRegistration(data-tabs-pane)
            form.modalForm
                .modalFormItem
                    .uiTextInputGroup
                        input(type="text" placeholder="Логин или номер телефона")
                        label Логин или номер
                .modalFormItem
                    .modalLoginSocial
                        a(href="#")
                            +svgIcon('icon-vk')
                        a(href="#")
                            +svgIcon('icon-fb')

                .modalFormSubmit
                    button.buttonBlueMedium Далее
                    a(href="#").buttonSimpleText Восстановить доступ
