.modal.modalSmallPadding.modalYellow#modal_sale
    .modalClose
        +svgIcon('icon-close')
    a(href="#").cardSale.cardSaleYellowBlack
        .cardSaleContent
            .cardSaleHeader
                .cardSaleHeaderText
                    | Акция <br> остался месяц
                .cardSaleHeaderValue
                    | 75%
            .cardSaleDescription
                | C марта по июнь при покупке любого товара крем вокруг глаз с Васильком  со скидкой

        .cardSaleImage
            img(src="img/item-2.png", alt="alt")
