.sale
    width 100%
    padding 0 70px
    +below(768px)
        padding 0 20px

.saleGrid
    box vertical top

.saleSection
    box vertical top
    margin-bottom 70px

.saleSectionHeader
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h1
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal

.saleSectionContent
    width 100%
    margin-bottom 50px

.saleSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.saleRow
    position relative
    height 308px
    lost-flex-container row
    +below(1310px)
        height auto

.saleDoubleRow
    position relative
    height 616px
    lost-flex-container row
    +below(1310px)
        height auto

.saleCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.saleCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.saleCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.saleCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1 / 1 1 0 flex

.saleCellSixth
    lost-column 1 / 2 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1 / 1 1 0 flex

.saleCellFourth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1 / 1 1 0 flex
