.productFooterSocial
    box horizotnal middle space-between

.productFooterSocialText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px

.productFooterSocialLinks
    box horizontal middle right

.productFooterSocialLink
    margin-left 29px
    svg
        transition all .4s
        size 18px
        fill #000
    &:hover
        svg
            fill #44c8f5

.productFooterImage
    display block
    width 100%
    height 112px
    margin-bottom 55px
    background-size cover
    background-repeat no-repeat
    background-position center center