.productMultiPrices
    display block
    .productPriceBuy
        margin-bottom 49px
        padding 15px 20px
        background-color #fff

.productMultiPriceTable
    // margin-bottom 70px
    table
        width 100%

// .productMultiPriceTableFirstRow
// td
// padding-top 40px
.productMultiPriceTableLastRow
    td
        padding-bottom 60px

.productMultiPriceTableImage
    vertical-align middle
    padding 10px 20px 0
    text-align center
    img
        height 100px

.productMultiPriceTableName
    padding-bottom 5px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    text-align right

.productMultiPriceTableAvaible
    padding-bottom 17px
    color #242424
    font-family 'Open Sans'
    font-size 14px
    font-weight 300
    line-height 22px
    text-align right

.productMultiPrice
    width 120px

.productMultiPriceSales
    width 100%
    text-align right
    .productMultiPriceSale
        display inline-flex

.productMultiPriceSale,
.productMultiPriceValue
    position relative
    margin-right 36px
    padding 0 10px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 20px
    line-height 20px
    white-space nowrap

.productMultiPriceSale
    margin-right 36px
    color rgba(#000, .5)
    &:after
        position absolute
        top calc(50% + 1px)
        left 0
        background-color rgba(#000, .5)
        content ''
        size 100% 2px

.productMultiPriceQty
    width 111px

.productMultiPriceQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productMultiPriceQtyText
    width 30px
    text-align center
    input
        width 30px
        background-color transparent
        border 0
        color #242424
        font-family 'Open Sans'
        font-size 18px
        font-weight 400
        line-height 40px
        text-align center

.productMultiPriceQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productMultiPriceAdd
    width 165px
    .productPriceAddCart
        display inline-flex

.productMultiPriceWish
    width 27px
    padding-left 27px
    .productPriceAddWish
        width 27px
        padding 0
    .productPriceAddWishIcon
        margin-right 0