.productPrices
    margin-bottom 27px
    padding 40px
    background-color #fff

.productPriceTop
    box horizontal middle space-between
    width 100%
    margin-bottom 40px

.productPrice
    box horizontal middle left
    &Sale,
    &Value
        position relative
        padding 0 20px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 36px
        line-height 20px
    &Sale
        margin-right 36px
        &:after
            position absolute
            top calc(50% + 1px)
            left 0
            background-color #000
            content ''
            size 100% 2px

.productStock
    color #44c8f5
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.productPriceAdd
    box horizontal middle left
    margin-bottom 18px

.productPriceQty
    box horizontal middle
    height 24px
    margin-right 45px

.productPriceQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 20px
    svg
        transition all .4s
        size 12px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productPriceQtyText
    width 40px
    input
        width 40px
        background-color transparent
        border 0
        color #242424
        font-family 'Open Sans'
        font-size 24px
        font-weight 400
        line-height 40px
        text-align center

.productPriceQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 20px
    svg
        transition all .4s
        size 10px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.productPriceAddCart
    box horizontal middle
    position relative
    height 40px
    padding 1px 28px 0
    background-color #44c8f5
    border 0
    outline 0
    cursor pointer
    transition all .4s
    &Text
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 40px
        text-transform uppercase
        text-decoration none
        white-space nowrap
    &Icon
        margin-right 8px
        svg
            size 21px
            fill #fff
    &:hover
        background-color #87dbff
        color #fff

.productPriceAddWish
    box horizontal middle
    position relative
    height 40px
    padding 1px 28px 0
    border 0
    outline 0
    cursor pointer
    transition all .4s
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 40px
        text-transform uppercase
        text-decoration none
    &Icon
        margin-right 8px
        svg
            overflow visible
            transition all .5s easeOutBack
            size 24px
            [data-name='Layer 1']
                fill #44c8f5
            [data-name='Layer 2']
                transition all .5s easeOutBack
                transform scale(0)
                stroke #44c8f5
                fill #44c8f5
                transform-origin center
    &:hover
        .productPriceAddWishIcon
            svg
                [data-name='Layer 1']
                    fill #44c8f5
                [data-name='Layer 2']
                    transform scale(1)

.productPriceDelivery
    margin-bottom 25px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px

.productPriceBuy
    box horizontal middle
    &Icon
        margin-right 20px
        size 22px
        svg
            size 22px
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 14x
        text-transform uppercase