.productTabs
    display block
    min-height 280px
    margin-bottom 25px

.productTabControls
    box horizontal middle left
    margin-bottom 36px

.productTabButton
    display inline-block
    position relative
    height 40px
    padding 1px 28px 0
    background-color #fff
    border 0
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 40px
    text-transform uppercase
    text-decoration none
    outline 0
    cursor pointer
    transition all .4s
    white-space nowrap
    &:hover
        background-color #44c8f5
        color #fff

.productTabButton.active
    background-color #242424
    color #fff
    cursor default

.productTabPanels
    min-height 200px

.productTabPanel
    transition all .4s
    p
        max-width 1000px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px

.productReviews
    box vertical top left

.productReview
    box horizontal top left
    margin-bottom 39px

.productReviewAvatar
    box vertical middle center
    flex 1 1 50px
    min-width 50px
    margin-right 25px
    background-color #f5f5f5
    size 50px
    svg
        size 22px
    img
        size 50px

.productReviewContent
    box vertical top left
    flex 1 1 auto

.productReviewDate
    margin-bottom 10px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px

.productReviewAuthor
    margin-bottom 18px
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase

.productReviewText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px

.productReviewPhoto
    box vertical middle center
    flex 1 1 110px
    min-width 110px
    margin-left 25px
    size 110px
    img
        height 110px

.productReviewForm
    padding 46px 38px
    background-color #f8f8f8

.productReviewFormHeader
    margin-bottom 35px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 30px
    font-weight 600
    line-height 36px

.productReviewFormContent
    margin-bottom 25px

.productReviewFormSubmits
    box horizontal middle left
    .buttonBlueMedium
        margin-right 15px

.productReviewFormFile
    box horizontal middle left
    cursor pointer
    &Icon
        box vertical middle center
        margin-right 13px
        background-color #fff
        size 40px
        svg
            size 15px
            fill #44c8f5
    &Text
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 41px
        text-transform uppercase