.uiTextInputGroup
    display block
    position relative
    input,
    textarea
        width 100%
        background-color transparent
        border 0
        border-bottom 2px solid #242424
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        transition all .4s
    label
        display block
        position absolute
        top 0
        left 1px
        pointer-events none
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        transition all .3s
        transform translate3d(0, 0, 0) scale(1)
        transform-origin left center

.uiTextInputGroupFocus
    label
        color #44c8f5
        font-size 11px
        transform translate3d(0, -20px, 0)
    input,
    textarea
        border-bottom-color #44c8f5

.uiTextInputGroupWhite
    input,
    textarea
        border-bottom 2px solid #fff
        color #fff
    label
        color #fff
    .uiTextInputGroupFocus
        color #fff

.uiTextInputGroupPassword
    input
        text-transform none
