
.wishAddItem
    box vertical middle center
    width 205px
    height 325px
    padding 0 30px
    background-color #44c8f5
    cursor pointer
    align-self stretch

.wishAddItemIcon
    box vertical middle center
    margin-bottom 34px
    background-color #fff
    border-radius 50%
    size 64px
    svg
        size 26px
        fill #44c8f5

.wishAddItemText
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 28px

.wishItems
    box horizontal top space-between
    width calc(100% - 225px)
    cursor default
    .swiper-wrapper
        margin-bottom 30px

.wishItem
    box vertical top left
    position relative
    width 205px
    padding-top 45px
    &:first-child
        .wishItemSpec
            svg
                display block

.wishItemDelete
    display block
    position absolute
    top 0
    right 0
    cursor pointer
    svg
        transition all .4s
        size 13px
        fill #242424
    &:hover
        svg
            fill #44c8f5

.wishItemImage
    box vertical top center
    width 100%
    margin-bottom 37px
    img
        max-height 150px

.wishItemName
    margin-bottom 17px
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.wishItemPrices
    box horizontal middle space-between
    margin-bottom 40px

.wishItemPrice
    min-width 100px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px

.wishItemAddCart
    box vertical middle center
    position relative
    margin-right 28px
    svg
        transition all .4s
        size 24px
        [data-name='filled']
            transition all .2s
            transform scale(0)
            transform-origin center
            fill #44c8f5
    &:hover
        fill #44c8f5
        [data-name='filled']
            transform scale(1)
        .wishItemAddCartTooltip
            opacity 1
            visibility visible
            transition visibility .4s linear .1s, opacity .4s linear

.wishItemAddCartTooltip
    position absolute
    top 40px
    right -55px
    // width 180px
    z-index 9000
    opacity 0
    visibility hidden
    padding 14px
    background-color #f5f5f5
    color #000
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 14px
    text-transform uppercase
    transition visibility .001s linear .1s, opacity .4s linear
    white-space nowrap
    &:after
        triangle equilateral pointing-right
        display block
        position absolute
        top -8px
        right 50px
        width 16px
        background-color #f5f5f5
        content ''

.wishItemSpecs
    box vertical top left

.wishItemSpec
    box horizontal middle
    margin-bottom 25px
    svg
        display none
        margin-right 10px
        size 30px
    span
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400