.wish
    box vertical top
    width 100%
    margin-bottom 50px
    padding 0 70px

.wishHeader
    box horizontal middle space-between
    flex 0 1 auto
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase

.wishContent
    flex 1 1 auto

.wishContentItems
    box horizontal top space-between
    margin-bottom 100px

.wishFooter
    box horizontal top space-between
    flex 0 1 auto

.wishShare
    box vertical top left
    p
        margin-bottom 11px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.wishShareSocialLinks
    box horizontal middle right

.wishShareSocialLink
    margin-right 29px
    svg
        transition all .4s
        size 18px
        fill #000
    &:hover
        svg
            fill #44c8f5

.wishSubheader
    h2
        margin-bottom 40px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase