.notFound
    display block
    margin-bottom 100px
    padding-top 45px
    &Image
        display inline-block
        background-image url('../img/404.jpg')
        background-size cover
        background-repeat no-repeat
        color transparent
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 233px
        font-weight 700
        letter-spacing .025em
        -webkit-background-clip text
        background-clip text
        background-position left bottom
        +below(768px)
            font-size 120px
    h2
        margin-bottom 21px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
        +below(768px)
            font-size 24px
    p
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
        a
            border-bottom 1px solid transparent
            color #44c8f5
            text-decoration none
            transition all .4s
            &:hover
                border-bottom 1px solid #44c8f5
