.pageChoisePayment
    margin-bottom 50px
    padding 47px 110px
    background-color #f5f5f5
    +below(768px)
        padding 45px 30px

.pageChoisePaymentHeader
    margin-bottom 40px
    border-bottom 2px solid #242424
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.pageChoisePaymentItems
    box horizontal middle space-around
    flex-wrap wrap

.pageChoisePaymentItem
    box vertical top center
    margin-bottom 20px
    svg
        margin-bottom 20px
        size 50px
    span
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px

.pageChoiseDelivery
    .choices
        width 250px

.pageChoiseDeliveryTable
    width 100%
    thead
        td
            padding 13px 0
            color #90908f
            font-family 'Open Sans'
            font-size 18px
            font-weight 400
            line-height 28px
            text-align center
            +below(600px)
                font-size 14px
                line-height 18px
    tbody
        tr
            &:nth-child(odd)
                td
                    background-color #f5f5f5
        td
            padding 28px 0
            text-align center
            +below(600px)
                padding 28px 10px
            svg
                margin-bottom 10px
                size 50px
                +below(600px)
                    size 30px
            em
                display inline-block
                vertical-align middle
                height 50px
                color #242424
                font-family 'graphik', Arial, Helvetica, sans-serif
                font-size 36px
                font-style normal
                font-weight 400
                line-height 36px
                +below(600px)
                    height auto
                    font-size 26px
            span
                display block
                color #242424
                font-family 'graphik', Arial, Helvetica, sans-serif
                font-size 18px
                font-weight 400
                line-height 28px
                +below(600px)
                    font-size 14px
                    line-height 18px