.page
    width 100%
    margin-bottom 50px
    padding 10px 70px 0
    +below(768px)
        padding 10px 20px 0

// clear fix
.pageBack
    box horizontal middle
    display block
    margin-bottom 25px
    text-decoration none
    span
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    svg
        margin-right 15px
        margin-left -8px
        size 28px

.pageHeader
    box horizontal middle space-between
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    data
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.pageSubheader
    box horizontal middle space-between
    width 100%
    margin-bottom 20px
    border-bottom 2px solid #000000
    h2
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase

.pageContentWrap
    box horizontal top center

.pageContent
    lost-column 10 / 12 1 flex
    margin-bottom 60px
    +above(769px)
        lost-offset 1 / 12
    +below(768px)
        lost-column 1 / 1 flex
        width 100%
    h3
        margin-bottom 43px
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 28px
    p
        margin-bottom 43px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px

.pageSuggest
    box vertical top
    display block
    width 100%
    margin-bottom 40px

.pageSuggestHeader
    margin-bottom 10px
    h3
        display inline-block
        margin-bottom 10px
        border-bottom 2px solid #242424
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
