.cart
    width 100%
    margin-bottom 93px
    padding 0 70px
    +below(768px)
        margin-bottom 40px
        padding 0 20px

.cartHeader
    box horizontal middle space-between
    width 100%
    margin-bottom 45px
    border-bottom 2px solid #000000
    h1
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    a
        border-bottom 1px solid transparent
        color #44c8f5
        font-family 'Open Sans'
        font-size 14px
        font-weight 300
        line-height 18px
        text-decoration none
        transition all .4s
        &:hover
            border-bottom 1px solid lighten(#44c8f5, 40%)

.cartContent
    h2
        margin-bottom 20px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 600
        line-height 36px
    p
        color #242424
        font-family 'Open Sans'
        font-size 16px
        font-weight 400
        line-height 24px
        span
            color #44c8f5

.cartTable
    margin-bottom 30px
    table
        width 100%
        tr
            transition all .4s
            &:hover
                background-color #f5f5f5
        td
            vertical-align middle
            padding 21px 0

.cartTableImage
    vertical-align middle
    min-width 80px
    margin-right 50px
    text-align center
    img
        max-width 80px
        max-height 80px

.cartTableName
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.cartTableQty
    box horizontal middle
    height 24px

.cartTableQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    size 20px
    svg
        size 12px

.cartTableQtyText
    width 40px
    color #242424
    font-family 'Open Sans'
    font-size 24px
    font-weight 400
    line-height 24px
    text-align center

.cartTableQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    size 20px
    svg
        size 10px

.cartTablePriceCell
    text-align center

.cartTablePrice
    box horizontal middle center
    &Sale,
    &Value
        position relative
        padding 0 20px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 24px
        line-height 20px
    &Sale
        margin-right 36px
        color #90908f
        &:after
            position absolute
            top calc(50% + 1px)
            left 0
            background-color #90908f
            content ''
            size 100% 2px

.cartTablePriceTotal
    padding 0 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 24px
    line-height 20px

.buttonDelete
    box vertical middle center
    background-color #f5f5f5
    border 0
    outline 0
    cursor pointer
    size 37px
    svg
        size 13px

.cartPromo
    box horizontal middle
    margin-bottom 30px
    &Text
        margin-right 30px
        padding-bottom 5px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px

.cartTotals
    box horizontal middle left
    margin-bottom 58px

.cartTotalDelivery
    lost-column 5 / 12 2 flex
    padding 34px 76px
    background-color #f5f5f5
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-weight 400
    line-height 24px
    span
        margin-left 5px
        color #44c8f5
        clear fix
    a
        display inline-block
        padding-top 7px
        border-bottom 1px solid transparent
        color #44c8f5
        line-height 20px
        text-decoration none
        transition all .4s
        &:hover
            border-bottom 1px solid lighten(#44c8f5, 40%)

.cartTotal
    lost-column 6 / 12 0 flex
    margin-right 0 !important
    margin-left calc((99.9% * 1 / 12) - 30px - (30px * 1 / 12) + 30px * 2) !important

.cartTotalTable
    width 100%
    td
        vertical-align middle
        padding-bottom 10px

.cartTotalTableSumText
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 24px
    b
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 600
        line-height 28px

.cartTotalTableSumValue
    color #242424
    font-family 'Open Sans'
    font-weight 400
    line-height 24px
    span
        margin-left 20px
        color #242424

.cartOrder
    margin-bottom 41px

.cartNotes
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 22px
    span
        display block
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase