.cartOrderFormBigItem
    box horizontal top
    margin-bottom 60px
    +below(768px)
        box vertical top left
    &Label
        width 200px
        padding-top 1px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 41px
        +below(768px)
            width 100%
            margin-bottom 20px
    &Select
        box vertical top
        select
            margin-bottom 10px
        span
            color #90908f
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 14px
            font-weight 300
            line-height 22px
    &Delivery
        box horizontal
        margin-top -20px
        +below(768px)
            flex-wrap wrap

.cartOrderIconItem
    box vertical top center
    width 130px
    margin-right 60px
    padding 10px 0
    border 3px solid transparent
    text-decoration none
    transition all .3s
    +below(768px)
        margin-right 30px
    &:last-child
        margin-right 0
    &Icon
        margin-bottom 11px
        svg
            size 40px
    &Text
        color #231f20
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
        text-align center
        transition all .3s
    &:hover,
    &Active,
    &.active
        border 3px solid #44c8f5
        .cartOrderIconItemText
            color #44c8f5

.cartOrderFormSubheader
    margin-bottom 45px
    h2
        margin-bottom 10px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
    p
        color #242424
        font-family 'Open Sans'
        font-size 16px
        font-weight 400
        line-height 24px
        a
            border-bottom 1px solid transparent
            color #44c8f5
            text-decoration none
            transition all .4s
            &:hover
                border-bottom 1px solid #44c8f5

.cartOrderFormItem
    max-width 630px
    margin-bottom 40px

.cartOrderFormTotalItem
    box horizontal middle
    margin-bottom 20px
    +below(768px)
        box horizontal middle space-between
    &Text
        lost-column 2 / 12
        color #242424
        font-family 'Open Sans'
        font-size 18px
        font-weight 600
        line-height 28px
        white-space nowrap
        +below(768px)
            lost-column none
    &Price
        font-family 'Open Sans'
        font-size 18px
        font-weight 300
        line-height 28px
        span
            margin-left 14px

.cartOrderFormItemCombi
    box horizontal
    margin-bottom 20px
    flex-wrap wrap
    .cartOrderFormItemCheckbox
        display inline-block
        margin-right 30px
        margin-bottom 20px
    .uiTextInputGroup
        width 200px
        +below(600px)
            width 100%
    span
        width 100%
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
        +below(600px)
            padding-top 20px

.cartOrderFormSubmit
    margin-bottom 70px

.cartOrderFormBigItemDelivery
    width 100%
    align-self stretch

.cartOrderFormDelivery
    width 100%

.cartOrderFormDeliveryTabs
    box horizontal middle
    +below(768px)
        flex-wrap wrap

.cartOrderFormDeliveryPanelContent
    padding 40px 0

.cartOrderFormDeliveryPanelContentPost
    box horizontal middle
    max-width 630px
    +below(768px)
        box vertical top left
        width 100%
    .uiTextInputGroup
        +below(768px)
            width 80%
            margin-bottom 30px
        &:first-child
            flex 2 2 auto
            margin-right 40px

.cartOrderFormDeliveryPanelContentCourer
    max-width 630px

.cartOrderFormDeliveryPanelContentOfficeSelect
    width 250px
    margin-bottom 24px

.cartOrderFormDeliveryPanelContentOfficeItems
    box horizontal middle
    flex-wrap wrap

.cartOrderFormDeliveryPanelContentOfficeItem
    width 300px
    padding 31px 38px
    border 3px solid transparent
    cursor pointer
    h4
        margin-bottom 21px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
        transition all .4s
    p
        margin-bottom 11px
        color #242424
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 24px
    span
        color #90908f
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 300
        line-height 22px
    &Active
        border 3px solid #44c8f5
        cursor default
    &:hover
        h4
            color #44c8f5