.cartOrderTop
    box horizontal middle space-between
    margin-bottom 40px
    padding 10px 24px
    background-color #f5f5f5
    +below(768px)
        box vertical top left

.cartOrderItems
    box horizontal middle
    +below(768px)
        margin-bottom 10px
        flex-wrap wrap

.cartOrderItem
    box vertical middle center
    position relative
    margin-right 5px
    background-color #fff
    border-radius 50%
    size 80px
    +below(768px)
        margin-bottom 5px
    img
        max-width 50px
        max-height 50px

.cartOrderItemBadge
    box vertical middle center
    position absolute
    bottom 0
    left 0
    background-color #dbdbdb
    border-radius 50%
    size 20px
    span
        color #fff
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 36px
        text-transform uppercase

.cartOrderItemTotal
    padding-left 20px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 600
    line-height 28px
    +below(768px)
        width 100%
        padding-top 10px
        padding-left 0

.cartOrderTotal
    box horizontal middle
    +below(768px)
        box vertical top left

.cartOrderTotalText
    margin-right 80px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 600
    line-height 28px

.cartOrderTotalPrice
    color #242424
    font-family 'Open Sans'
    font-size 18px
    font-weight 300
    line-height 28px
    span
        margin-left 20px