.modalCart
    // transform translateX(140%)
    box vertical top space-between
    display block
    position fixed
    top 0
    right 0
    width 50vw
    height 100vh
    min-width 800px
    z-index 9000
    overflow auto
    padding 52px 94px
    background-color #fff
    box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    transition all .4s
    transform translateX(140%)
    +below(800px)
        width 95vw
        min-width auto
        padding 52px 52px

.modalCartIsShow
    transform translateX(0)

.modalCartHeader
    box horizontal middle space-between
    width 100%
    height 36px
    min-height 36px
    margin-bottom 45px
    border-bottom 2px solid #000000
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 24px
    font-style normal
    font-weight normal
    font-stretch normal
    line-height 36px
    letter-spacing normal

.modalCartContent
    flex 1 1 auto

.modalCartFooter
    flex 0 1 auto

.modalCartTable
    margin-bottom 30px
    table
        width 100%
        tr
            transition all .4s
            &:hover
                background-color #f5f5f5
        td
            vertical-align middle
            padding 21px 0

.modalCartTableImage
    vertical-align middle
    min-width 45px
    margin-right 22px
    text-align center
    img
        max-width 45px
        max-height 45px

.modalCartTableName
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase

.modalCartTableQty
    box horizontal middle
    height 24px

.modalCartTableQtyMinus
    box vertical middle center
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.modalCartTableQtyText
    width 30px
    color #242424
    font-family 'Open Sans'
    font-size 18px
    font-weight 400
    line-height 18px
    text-align center

.modalCartTableQtyPlus
    box vertical middle center
    margin-right 7px
    border 1px solid #000
    border-radius 50%
    cursor pointer
    transition all .4s
    size 16px
    svg
        transition all .4s
        size 8px
    &:hover
        border-color #44c8f5
        svg
            fill #44c8f5

.modalCartTablePriceCell
    text-align center

.modalCartTablePrice
    box horizontal middle center
    &Sale,
    &Value
        position relative
        padding 0 20px
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        line-height 20px
    &Sale
        margin-right 36px
        color #90908f
        &:after
            position absolute
            top calc(50% + 1px)
            left 0
            background-color #90908f
            content ''
            size 100% 2px

.modalCartTablePriceTotal
    padding 0 20px
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    line-height 20px

.buttonDelete
    box vertical middle center
    background-color #f5f5f5
    border 0
    outline 0
    cursor pointer
    size 37px
    svg
        size 13px

.modalCartTotals
    box vertical top left
    margin-bottom 58px
    .cartTotalDelivery
        width 100%
        margin-bottom 56px
    .cartTotal
        width 100%
        margin-left 0 !important
        padding 0

.modalCartOrder
    box horizontal middle
    button
        margin-right 12px