.largeMenu
    display block
    position absolute
    width 100%
    height 600px
    background-color #f0f0f2
    z-index 10000
    padding 50px 70px
    box horizontal top left
    top 100px
    opacity 0
    visibility hidden
    pointer-events none
    transition all .3s
    +below(1300px)
        padding 50px 70px
    &IsShow
        opacity 1
        visibility visible
        pointer-events all
.largeMenuImage
    lost-column 3/12 0 0 flex
    box vertical middle center
    align-self stretch
    +below(1100px)
        display none
.largeMenuRows
    width 100%
    lost-column 9/12 0 0 flex
    +below(1100px)
        lost-column 12/12 0 0 flex
.largeMenuRow
    box horizontal top
    width 100%
    .largeMenuColumn
        lost-column 1/3 3 0 flex

.largeMenuColumn
    lost-column 3/12 4 0

.largeMenuLogo
    margin-bottom 35px
    svg
        size 100px
.largeMenuMenu
    box vertical top left
    margin-bottom 35px
.largeMenuMenuHeader
    display inline-block
    text-decoration none
    width auto
    position relative
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    color #242424
    margin-bottom 18px
    min-height 23px
    transition all .4s
    &:after
        position absolute
        content ''
        size 100% 2px
        background-color #000
        left 0
        bottom -4px
        transition all .4s
    &:hover
        color #44c8f5
        &:after
            background-color #44c8f5
.largeMenuMenuItem
    position relative
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    width 100%
    &:after
        display block
        position absolute
        size 90% 100%
        content ''
        left -24px
        top 0
        background-color #fff
        opacity 0
        z-index -1
        transition all .2s
    &:hover
        color #000
        &:after
            opacity 1