.headerCarts
    box horizontal middle

.headerCart
    box horizontal middle

.headerWishListIcon
    display inline-block
    position relative
    margin-right 30px
    .headerWishListCount
        position absolute
        top -5px
        right -10px
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 700
        text-transform uppercase
    svg
        overflow visible
        transition all .5s easeOutBack
        size 20px
        [data-name='Layer 1']
            fill #000
        [data-name='Layer 2']
            transition all .5s easeOutBack
            transform scale(0)
            stroke #44c8f5
            fill #44c8f5
            transform-origin center
        &:hover
            [data-name='Layer 1']
                fill #44c8f5
            [data-name='Layer 2']
                transform scale(1)
    &:hover
        .headerWishListPopup
            opacity 1
            visibility visible
            transition visibility .4s linear .1s, opacity .4s linear

.headerWishListPopup
    position absolute
    top 37px
    right -136px
    width 245px
    z-index 9000
    opacity 0
    visibility hidden
    padding 35px 25px
    background-color #44c8f5
    transition visibility .001s linear .1s, opacity .4s linear
    &:after
        triangle equilateral pointing-left
        display block
        position absolute
        top -9px
        left 85px
        width 18px
        background-color #44c8f5
        content ''
    &Header
        margin-bottom 10px
        border-bottom 1px solid #fff
        color #fff
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
    &Text
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 300
        line-height 16px

.headerCart
    &:hover
        .headerCartPopup
            opacity 1
            visibility visible
            transition visibility .4s linear .1s, opacity .4s linear

.headerCartIcon
    display inline-block
    position relative
    margin-right 30px
    .headerCartCount
        position absolute
        top -5px
        right -10px
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 700
        text-transform uppercase
    svg
        overflow visible
        transition all .5s easeOutBack
        fill #000
        size 22px
        #hover
            transition all .5s easeOutBack
            transform scale(0)
            fill #44c8f5
            transform-origin center
        &:hover
            fill #44c8f5
            #hover
                transform scale(1)

.headerCartPopup
    position absolute
    top 48px
    right 70px
    width 255px
    z-index 9000
    opacity 0
    visibility hidden
    padding 35px 25px
    background-color #44c8f5
    transition visibility .001s linear .1s, opacity .4s linear
    &:after
        triangle equilateral pointing-left
        display block
        position absolute
        top -9px
        left 145px
        width 18px
        background-color #44c8f5
        content ''
    &Header
        margin-bottom 10px
        border-bottom 1px solid #fff
        color #fff
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 20px
        text-transform uppercase
    &Text
        margin-bottom 10px
        color #fff
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 300
        line-height 16px
    &Link
        display inline-block
        height 25px
        padding 1px 15px
        background-color #fff
        color #44c8f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 10px
        font-weight 400
        line-height 25px
        text-transform uppercase
        text-decoration none

.headerCartTotal
    flex 0 1 auto
    margin-top -3px
    color #878786
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400
    line-height 12px
    white-space nowrap
    span
        display block
