.headerTop
    width 100%
    height 42px
    margin-bottom 20px
    background-color #fafafa
    +below(1060px)
        display none
    &Wrap
        box horizontal middle space-between
        position relative
        height 42px
        margin 0 auto
        // max-width 1224px
        padding 0 70px

.headerTopWork
    flex 0 1 auto
    color #010101
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400

.headerTopPhone
    box horizontal middle
    flex 0 1 auto
    height 42px

.headerTopPhoneLink
    flex 0 1 auto
    margin-right 36px
    a
        display block
        color #000
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
        text-decoration none

.headerTopPhoneButton
    flex 0 1 auto

.headerTopAccount
    box horizontal middle
    color #010101
    font-family 'Open Sans', Arial, Helvetica, sans-serif
    font-size 12px
    font-weight 400

.headerTopLogin
    box horizontal middle
    margin-right 5px
    cursor pointer
    &Text
        color #010101
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
        transition all .4s
    svg
        margin-right 10px
        transition fill .4s
        size 13px
        fill none
        stroke #000
    &:hover
        .headerTopLoginText
            color #44c8f5

.headerTopRegistation
    box horizontal middle
    margin-left 5px
    cursor pointer
    &Text
        color #010101
        font-family 'Open Sans', Arial, Helvetica, sans-serif
        font-size 12px
        font-weight 400
        transition all .4s
    &:hover
        .headerTopRegistationText
            color #44c8f5

.headerTopSocial
    a
        margin-right 10px
        text-decoration none
        svg
            transition all .4s
            size 14px
        &:hover
            svg
                fill #44c8f5