.headerSearch
    position relative
.buttonSearch
    box vertical middle center
    position relative
    z-index 160
    background-color #f3f2f3
    border 0
    outline 0
    size 23px
    svg
        size 16px
.headerSearchInput
    display block
    position absolute
    top 0
    right 0
    width 705px
    height 23px
    z-index 155
    opacity 0
    visibility hidden
    background-color #ffffff
    border 2px solid #f3f2f3
    transition all .3s
    input
        width 100%
        height 19px
        padding 0 25px
        border 0
        color #242424
        font-family 'Open Sans'
        font-size 14px
        font-weight 300
        line-height 22px
        outline 0
    &IsShow
        opacity 1
        visibility visible
.headerSearchPanel
    display block
    position absolute
    top 19px
    left -2px
    width calc(100% + 4px)
    z-index 160
    opacity 0
    visibility hidden
    padding 30px 30px 0
    background-color #fff
    border 2px solid #f3f2f3
    border-top 0
    transition all .3s
.headerSearchPanelIsShow
    opacity 1
    visibility visible
.headerSearchPanelHeader
    margin-bottom 22px
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    a
        margin-left 16px
        color #44c8f5
        font-family 'Open Sans'
        font-size 14px
        font-weight 300
        line-height 22px
        text-transform none
        text-decoration none
        transition all .4s
        &:hover
            // text-decoration underline
            color darken(#44c8f5, 20%)
.headerSearchPanelItems
    box horizontal middle
    margin-bottom 46px
.headerSearchPanelItem
    lost-column 1 / 2 2 flex
    box horizontal top
    text-decoration none
.headerSearchPanelItemImage
    box vertical middle center
    width 65px
    img
        max-width 50px
.headerSearchPanelItemText
    margin-left 20px
    h3
        color #242424
        font-family 'Open Sans'
        font-size 18px
        font-weight 600
        line-height 28px
    span
        color #000000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 300
        line-height 20px