extends _layout

block content
    .page
        .pageHeader
            h1 404 Ошибка
        .notFound
            .notFoundImage
                | 404
            h2 Оооой...   К сожалению страница не найдена
            p
                | Можно вернуться на&nbsp;
                a(href="#") главную
                | &nbsp;и попробовать все сначала. А можно поискать в&nbsp;
                a(href="#") каталоге
                |.
