doctype
html
    head
        title Libra
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,700&amp;subset=cyrillic" rel="stylesheet")
        link(type="text/css", href='./css/main.css', rel="stylesheet")
        //- script(src="./js/preload.js")
        //- include _svg.jade
        //- include _mixin.jade


    body
        include _svg.pug
        include block/card/product.pug
        include block/_header.pug
        //- .overlay
        //- include block/modal/_subscribe.pug
        //- include block/modal/_question.pug
        //- include block/modal/_order.pug
        //- include block/modal/_sale.pug
        //- include block/modal/_cart.pug
        //- include block/modal/_wish.pug
        //- include block/modal/_oneclick.pug
        //- include block/modal/_login.pug
        //- include block/modal/_restore.pug
        //- include block/_cart.pug
        block content

        include block/_footer.pug
        script(src="./js/app.js")
