extends _layout

block content
    .cabinet
        .cabinetSidebar
            .cabinetSidebarAvatar
                +svgIcon('icon-people')
            .cabinetSidebarName
                | Ирина Михайловна
            .cabinetSidebarMenu
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-setting')
                    .cabinetSidebarMenuItemText
                        | Настройка профиля
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-logout')
                    .cabinetSidebarMenuItemText
                        | Выход
                .cabinetSidebarMenuItemSpacer
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-history')
                    .cabinetSidebarMenuItemText
                        | История заказов
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-cart2')
                    .cabinetSidebarMenuItemText
                        | Купленные товары
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-bonus')
                    .cabinetSidebarMenuItemText
                        | Бонусные баллы


        .cabinetMain
            .cabinetHeader
                h1 бонусные баллы
            .cabinetContent
                .cabinetBonusBlock
                    .cabinetBonusBlockHeader
                        h2 Копи баллы с покупок
                    .cabinetBonusBlockContent
                        p Получай до 500 баллов с каждой покупки.  С каждого заказа мы начислляем 5% от стоимости заказа.
                        p +10 баллов за отзыв <br>+50 за каждую 5 покупку
                .cabinetBonusTotal
                    .cabinetBonusTotalContent
                        span Накопленно бонусных баллов: 50
                        +svgIcon('icon-bonus')
                .cabinetBonusHistory
                    - for (var i = 0; i < 10; ++i) {
                        .cabinetBonusHistoryItem
                            .cabinetBonusHistoryItemOrder
                                | Заказ №9999399
                            .cabinetBonusHistoryItemCount
                                span 150
                                +svgIcon('icon-bonus')
                    - }