extends _layout

block content
    .cabinet
        .cabinetSidebar
            .cabinetSidebarAvatar
                +svgIcon('icon-people')
            .cabinetSidebarName
                | Ирина Михайловна
            .cabinetSidebarMenu
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-setting')
                    .cabinetSidebarMenuItemText
                        | Настройка профиля
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-logout')
                    .cabinetSidebarMenuItemText
                        | Выход
                .cabinetSidebarMenuItemSpacer
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-history')
                    .cabinetSidebarMenuItemText
                        | История заказов
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-cart2')
                    .cabinetSidebarMenuItemText
                        | Купленные товары
                a(href='#').cabinetSidebarMenuItem
                    .cabinetSidebarMenuItemIcon
                        +svgIcon('icon-bonus')
                    .cabinetSidebarMenuItemText
                        | Бонусные баллы


        .cabinetMain
            a(href="#").cabinetBack
                +svgIcon('icon-arrow-left')
                span Все заказы
            .cabinetHeader
                h1 Заказ №545888  от 24 октября 2016
                .cabinetHeaderStatus.cabinetHeaderStatusBlack
                    | В пути
            .cabinetContent
                .cabinetOrder
                    .cabinetOrderTable
                        table
                            tr
                                td Способ получения
                                td Курьером
                            tr
                                td Адрес доставки
                                td г. Санкт_петербург, Невский проспект, дом 5, офис 15
                            tr
                                td В заказе
                                td Крем, пудра, тушь
                            tr
                                td Сумма
                                td
                                    | 1500
                                    span.ruble г
                            tr
                                td Тип оплаты
                                td Онлайн на сайте (ждёт оплаты)
                    .cabinetOrderControl
                        a(href="#").buttonWhite Повторить
                        a(href="#").buttonSimple Отменить
                .cabinetSubheader
                    h3 В заказе
                .cabinetBuy
                    .cabinetBuyRow
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                           include ../svg/icon-wishlist.svg
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct.cardProductYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductHeader
                                        | солнцезащитный бальзам для губ bronzeada с пантенолом
                                    .cardProductDescription
                                        | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                    .cardProductRow
                                        .cardProductPrice
                                            | 399
                                            .ruble г
                                        .cardProductCart
                                            +svgIcon('icon-cart')
                                        .cardProductWhish
                                           include ../svg/icon-wishlist.svg
                    .cabinetBuyRow
                        .cabinetBuyRowColumn
                            a(href="#").cardProduct.cardProductLightYellow
                                .cardProductImage
                                    img(src="img/item-1.png", alt="alt")
                                .cardProductContent
                                    .cardProductContentWrap
                                        .cardProductHeader
                                            | Ультра реаниматор
                                        .cardProductDescription
                                            | Лак для ногтей
                                        .cardProductColorsSlider
                                            .cardProductColors.swiper-container
                                                .swiper-wrapper
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                                    .swiper-slide
                                                        .cardProductColor(style="background-color: #333")
                                            .cardProductColorsNext >
                                        .cardProductRow
                                            .cardProductPrice
                                                | 399
                                                .ruble г
                                            .cardProductCart
                                                +svgIcon('icon-cart')
                                            .cardProductWhish
                                               include ../svg/icon-wishlist.svg
                a(href="#").cabinetOrderNext
                    span Заказ №545895  от 5 октября 2016
                    +svgIcon('icon-arrow')
