extends _layout

block content
    .cart
        .cartHeader
            h1 Корзина
            a(href="#") изменить заказ
        .cartContent
            .cartTable
                table
                    tr
                        td.cartTableImage
                            img(src='img/item-1.png')
                        td.cartTableName
                            | Бальзам для губ 3D Гиалуроновый филлер
                        td.cartTableQtyCell
                            .cartTableQty
                                .cartTableQtyMinus
                                    +svgIcon('icon-minus')
                                .cartTableQtyText 1
                                .cartTableQtyPlus
                                    +svgIcon('icon-plus')
                        td.cartTablePriceCell
                            .cartTablePrice
                                .cartTablePriceSale
                                    | 299
                                    .ruble г
                                .cartTablePriceValue
                                    | 299
                                    .ruble г
                        td.cartTablePriceTotal
                            | 299
                            .ruble г
                        td.cartTablePriceDelete
                            button.buttonDelete
                                +svgIcon('icon-close')
                    tr
                        td.cartTableImage
                            img(src='img/item-1.png')
                        td.cartTableName
                            | Бальзам для губ 3D Гиалуроновый филлер
                        td.cartTableQtyCell
                            .cartTableQty
                                .cartTableQtyMinus
                                    +svgIcon('icon-minus')
                                .cartTableQtyText 1
                                .cartTableQtyPlus
                                    +svgIcon('icon-plus')
                        td.cartTablePriceCell
                            .cartTablePrice
                                .cartTablePriceValue
                                    | 299
                                    .ruble г
                        td.cartTablePriceTotal
                            | 299
                            .ruble г
                        td.cartTablePriceDelete
                            button.buttonDelete
                                +svgIcon('icon-close')
                    tr
                        td.cartTableImage
                            img(src='img/item-1.png')
                        td.cartTableName
                            | Бальзам для губ 3D Гиалуроновый филлер
                        td.cartTableQtyCell

                        td.cartTablePriceCell
                            .cartTablePrice
                                .cartTablePriceValue
                                    | Подарок
                        td.cartTablePriceTotal
                        td.cartTablePriceDelete
                            button.buttonDelete
                                +svgIcon('icon-close')
            .cartPromo
                .cartPromoText
                    | Введите промо-код:
                .cartPromoInput
                    .uiTextInputGroup
                        input(type="text" placeholder="Номер")
                        label НОМЕР
            .cartTotals
                .cartTotalDelivery
                    | До бесплатной доставки осталось
                    span
                        | 299
                        .ruble г
                    a(href="#") Условия доставки
                .cartTotal
                    table.cartTotalTable

                        tr
                            td.cartTotalTableSumText
                                | Сумма без скидки

                            td.cartTotalTableSumValue
                                | 299
                                .ruble г
                        tr
                            td.cartTotalTableSumText
                                b Итого сумма со скидкой
                            td.cartTotalTableSumValue
                                | 299
                                .ruble г
                                span
                                    | (Экономия 299
                                    .ruble г
                                    | )
            .cartOrder
                button.buttonBlueMedium Оформить заказ
                button.buttonGrey Купить в один клик
            .cartNotes
                span Оформите заказ самостоятельно
                | При самостоятельном оформлении заказа скидка!