extends _layout

block content
    .page
        a(href="#").pageBack
            +svgIcon('icon-arrow-left')
            span Все статьи
        .pageHeader
            h1 НАзвание статьи
            data 14 сентября
        .pageContentWrap
            .pageContent
                h3 10 сентября на Московской Международной Книжной выставке-ярмарке при поддержке бренда Librederm состоялась презентация книги известной телеведущей Юлии Барановской «Все к лучшему»! Автобиография Юлии была встречена читателями очень тепло.
                p  К телеведущей выстроилась очередь за автографами, а сама Юлия была растрогана таким вниманием со стороны поклонников! На встрече можно быть легко задать любой вопрос Юлии. За самые интересные вопросы дарили подарочные коробки с косметикой Либридерм. При покупке книги можно было получить автограф телеведущей и открытку с гигиенической помадой Коллаген Либридерм. Напоминаем, что книгу Юлии Барановской можно купить уже в любом книжном магазине.
        .pageSliders
            .pageSlider.swiper-container
                .swiper-wrapper
                    .pageSlide.swiper-slide
                        img(src="img/blog-1.jpg", alt="")
                    .pageSlide.swiper-slide
                        img(src="img/blog-2.jpg", alt="")
                    .pageSlide.swiper-slide
                        img(src="img/blog-1.jpg", alt="")
                    .pageSlide.swiper-slide
                        img(src="img/blog-2.jpg", alt="")
                    .pageSlide.swiper-slide
                        img(src="img/blog-1.jpg", alt="")
                    .pageSlide.swiper-slide
                        img(src="img/blog-2.jpg", alt="")
            .pageSliderPrev
                +svgIcon('icon-arrow')
            .pageSliderNext
                +svgIcon('icon-arrow')
            .pageContent
                p К телеведущей выстроилась очередь за автографами, а сама Юлия была растрогана таким вниманием со стороны поклонников! На встрече можно быть легко задать любой вопрос Юлии. За самые интересные вопросы дарили подарочные коробки с косметикой Либридерм

        .pageSuggest
            .pageSuggestHeader
                h3 Вас может заинтересовать
            .blogRow
                a(href="#").blogCard.blogCardBig
                    .blogCardCategory
                        | Новость
                    .blogCardImage(style="background-image: url('img/blog-1.jpg')")
                    .blogCardGradient
                    .blogCardContent
                        .blogCardDate
                            | 15 мая 2017
                        .blogCardTitle
                            | Фотоотчет со встречи Юлии Барановской с читателями
                    .blogCardContentHover
                        .blogCardDate
                            | 15 мая 2017
                        .blogCardTitle
                            | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями
                a(href="#").blogCard.blogCardSmall
                    .blogCardCategory
                        | Новость
                    .blogCardImage(style="background-image: url('img/blog-2.jpg')")
                    .blogCardGradient
                    .blogCardContent
                        .blogCardDate
                            | 15 мая 2017
                        .blogCardTitle
                            | Фотоотчет со встречи Юлии Барановской с читателями
                    .blogCardContentHover
                        .blogCardDate
                            | 15 мая 2017
                        .blogCardTitle
                            | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями
        .mainSectionFooter
            button.buttonBlueMore
                | +
            a(href="#").buttonGreyLarge
                | все материалы