extends _layout

block content
    .page
        .pageHeader
            h1 Условия оплаты и доставки
        .pageContentWrap
            .pageContent
                p При выборе данного способа оплаты, Вы можете оплатить заказ непосредственно в момент получения заказа. Мы предлагаем широкий выбор способов доставки, при выборе которых Вы можете оплатить заказ при получении заказа. Для некоторых способов доставки возможна оплата банковской картой Visa или Mastercard вмомент получения заказа. Выберите удобный способ оплаты. При онлайн оплате, после оформления заказа Вы будете перенаправлены на сайт нашего партнера, который специализируется на приеме платежей. После успешной оплаты заказа, Вы получите сообщение на электронную почту с информацией о Вашей оплате.
                .pageChoisePayment
                    .pageChoisePaymentHeader
                        | Способы оплаты
                    .pageChoisePaymentItems
                        .pageChoisePaymentItem
                            +svgIcon('icon-wallet')
                            span Наличные
                        .pageChoisePaymentItem
                            +svgIcon('icon-wallet')
                            span Наличные
                        .pageChoisePaymentItem
                            +svgIcon('icon-wallet')
                            span Наличные
                .pageSubheader
                    h2 способы доставки
                p Мы доставляем товар без выходных и праздников с 10:00 до 14:00, с 14:00 до 18:00 и с 18:00 до 21:00. <br>Доставляем по всей России.
                .pageChoiseDelivery
                    select.select.choices
                        option Москва
                        option Санкт-Петербург
                    table.pageChoiseDeliveryTable
                        thead
                            tr
                                td Способ доставки
                                td Срок
                                td Стоимость
                        tbody
                            tr
                                td
                                    +svgIcon('icon-courer')
                                    span Курьером
                                td
                                    em 2
                                    span  дня доставка
                                td
                                    em 300
                                        .ruble г
                                    span  при покупке от 3000
                            tr
                                td
                                    +svgIcon('icon-office')
                                    span Самовывоз
                                td
                                    em 5
                                    span дней хранение
                                td
                                    em 0
                                        .ruble г
                                    span  при покупке на любую сумму
                            tr
                                td
                                    +svgIcon('icon-post')
                                    span Почтой
                                td
                                    em 15-30
                                    span дней доставка
                                td
                                    em от 100
                                        .ruble г
                                    span  зависит от веса