extends _layout

block content
    .breadcrumbs
        a(href="#") Каталог
        a(href="#") Средства по уходу за лицом
    .product
        .productWrap
            .productLeft
                .productImages
                    .productImageSlider.swiper-container
                        .swiper-wrapper
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-1.png", alt="")
                            .productImageSlide.swiper-slide
                                img(src="img/item-2.png", alt="")
                    .productImageSliderThumbContainer
                        .productImageSliderThumbs.swiper-container
                            .swiper-wrapper
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-1.png", alt="")
                                .productImageSliderThumb.swiper-slide
                                    .productImageSliderThumbImage
                                        img(src="img/item-2.png", alt="")
                        .productImageSliderThumbLeft
                            +svgIcon('icon-arrow')
                        .productImageSliderThumbRight
                            +svgIcon('icon-arrow')
                .productRelatedVideo
                    a(href="#").productRelatedVideoItem
                        .productRelatedVideoItemIcon
                            +svgIcon('icon-video')
                        .productRelatedVideoItemText
                            | Как ухаживать за кодей с помощью гиалуронового крема
                    a(href="#").productRelatedVideoItem
                        .productRelatedVideoItemIcon
                            +svgIcon('icon-video')
                        .productRelatedVideoItemText
                            | Как ухаживать за кодей с помощью гиалуронового крема
                .productDiagnostic
                    .productDiagnosticHeader
                        | Диагностика
                    .productDiagnosticText
                        | Пройти тест и узнай свой тип кожи
                    .productDiagnosticButton
                        a(href="#").buttonBlueMedium Пройти тест


            .productRight
                .productContent
                    .productTop
                        .productStarReview
                            .productStars
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar
                                    +svgIcon('icon-star-fill')
                                .productStar.productStarEmpty
                                    +svgIcon('icon-star-fill')
                            .productStarReviewText
                                | 8 отзывов
                        .productCurrentView
                            | 5 человек в данный момент просматривают этот товар
                    .productHeader
                        h1 Крем ГИАЛУРОНОВЫЙ увлажняющий
                    .productTypes
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-day')
                            .productTypeText 20-30 лет
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-day')
                            .productTypeText Тип Жирный
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-day')
                            .productTypeText День
                        .productType
                            .productTypeIcon
                                +svgIcon('icon-day')
                            .productTypeText Без красителей
                    .productMultiPrices
                        .productMultiPriceTable
                            table
                                tr.productMultiPriceTableFirstRow
                                    td(rowspan='3').productMultiPriceTableImage
                                        img(src="img/item-1.png", alt="")
                                    td(colspan='5').productMultiPriceTableName
                                        | Комплекный уход за кожей рук и поверхностью ногтей
                                tr
                                    td(colspan='5').productMultiPriceTableAvaible
                                        | 10 штук в наличие
                                tr.productMultiPriceTableLastRow
                                    td.productMultiPriceSales
                                        //- .productMultiPriceSale
                                        //-     | 399
                                        //-     .ruble г
                                    td.productMultiPrice
                                        .productMultiPriceValue
                                            | 144
                                            .ruble г
                                    td.productMultiPriceQty
                                        .productPriceQty
                                            .productMultiPriceQtyMinus
                                                +svgIcon('icon-minus')
                                            .productMultiPriceQtyText
                                                input(type="text" value="1")
                                            .productMultiPriceQtyPlus
                                                +svgIcon('icon-plus')
                                    td.productMultiPriceAdd
                                        .productPriceAddCart
                                            .productPriceAddCartIcon
                                                +svgIcon('icon-cart')
                                            .productPriceAddCartText
                                                | В корзину
                                    td.productMultiPriceWish
                                        .productPriceAddWish
                                            .productPriceAddWishIcon
                                                include ../svg/icon-wishlist.svg
                                //- two
                                tr
                                    td(rowspan='3').productMultiPriceTableImage
                                        img(src="img/item-1.png", alt="")
                                    td(colspan='5').productMultiPriceTableName
                                        | Дамасская роза и мускус
                                tr
                                    td(colspan='5').productMultiPriceTableAvaible
                                        | 5 штук в наличие
                                tr.productMultiPriceTableLastRow
                                    td.productMultiPriceSales
                                        .productMultiPriceSale
                                            | 164
                                            .ruble г
                                    td.productMultiPrice
                                        .productMultiPriceValue
                                            | 144
                                            .ruble г
                                    td.productMultiPriceQty
                                        .productPriceQty
                                            .productMultiPriceQtyMinus
                                                +svgIcon('icon-minus')
                                            .productMultiPriceQtyText
                                                input(type="text" value="1")
                                            .productMultiPriceQtyPlus
                                                +svgIcon('icon-plus')
                                    td.productMultiPriceAdd
                                        .productPriceAddCart
                                            .productPriceAddCartIcon
                                                +svgIcon('icon-cart')
                                            .productPriceAddCartText
                                                | В корзину
                                    td.productMultiPriceWish
                                        .productPriceAddWish
                                            .productPriceAddWishIcon
                                                include ../svg/icon-wishlist.svg
                                //- two
                                tr
                                    td(rowspan='3').productMultiPriceTableImage
                                        img(src="img/item-1.png", alt="")
                                    td(colspan='5').productMultiPriceTableName
                                        | Дамасская роза и мускус
                                tr
                                    td(colspan='5').productMultiPriceTableAvaible
                                        | 5 штук в наличие
                                tr.productMultiPriceTableLastRow
                                    td.productMultiPriceSales
                                        .productMultiPriceSale
                                            | 164
                                            .ruble г
                                    td.productMultiPrice
                                        .productMultiPriceValue
                                            | 144
                                            .ruble г
                                    td.productMultiPriceQty
                                        .productPriceQty
                                            .productMultiPriceQtyMinus
                                                +svgIcon('icon-minus')
                                            .productMultiPriceQtyText
                                                input(type="text" value="1")
                                            .productMultiPriceQtyPlus
                                                +svgIcon('icon-plus')
                                    td.productMultiPriceAdd
                                        .productPriceAddCart
                                            .productPriceAddCartIcon
                                                +svgIcon('icon-cart')
                                            .productPriceAddCartText
                                                | В корзину
                                    td.productMultiPriceWish
                                        .productPriceAddWish
                                            .productPriceAddWishIcon
                                                include ../svg/icon-wishlist.svg

                        .productPriceBuy
                            .productPriceBuyIcon
                                +svgIcon('icon-hospital')
                            .productPriceBuyText
                                | Купить в аптеке
                        .productPriceDelivery
                            | Бесплатная доставка от 3 000
                            .ruble г
                    .productBottom
                        .productDescription
                            .productDescriptionText
                                | Эффективно увлажняет, восстанавливает и успокаивает кожу. Желе для умывания применяется для деликатного очищения лица и шеи.
                            .productDescriptionPresent
                                .productDescriptionPresentIcon
                                    +svgIcon('icon-present')
                                .productDescriptionPresentText
                                    | Подарок от ЛибреДерм
                        .productFavoriteReviews
                            .productFavoriteReview
                                .productFavoriteReviewText
                                    | Этот крем прекрасно мне подошёл, не смотря на проблему с угрями. Я бы могла сказать что...
                                .productFavoriteReviewAuthor
                                    .productFavoriteReviewAuthorIcon
                                        +svgIcon('icon-comment')
                                    .productFavoriteReviewAuthorName
                                        | Оксана Игоревна
                            .productFavoriteReviewButton
                                a(href='#').buttonDarkGrey Все отзывы
                    .productFooter
                        .productFooterSocial
                            .productFooterSocialText
                                | Поделись товаром в соцсетях-получи скидку 20%
                            .productFooterSocialLinks
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-vk')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ok')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-yt')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-ig')
                                a(href="#").productFooterSocialLink
                                    +svgIcon('icon-fb')

                .productFooterImage(style="background-image: url('img/product-footer.jpg'")
        .productTabs
            .productTabControls(data-tabs)
                 a(data-tab href='#tab1').productTabButton
                    | Описание
                 a(data-tab href='#tab2').productTabButton
                    | Состав
                 a(data-tab href='#tab3').productTabButton
                    | Применение
                 a(data-tab href='#tab4').productTabButton
                    | Оплата и доставка
                 a(data-tab href='#tab5').productTabButton.productTabButtonActive
                    | Отзывы
            .productTabPanels(data-tabs-content)
                .productTabPanel.tabs-pane.active#tab1(data-tabs-pane)
                    p Коллекция питательных кремов Аевит для рук с разными приятными запахами в мини форматах позволяет легко взять с собой в дорогу и в путешествие любимый крем. В кремах использованы дорогие эксклюзивные французские, английские и немецкие парфюмерные композиции! Крема обладают выраженным смягчающим действием предназначен для комплексного ухода за кожей рук и поверхностью ногтей: оказывает антиоксидантное и регенерирующее действие, тонизирует и освежает «уставшую кожу», замедляет процесс старения клеток. Содержит коллаген и витаминный комплекс. Укрепляет ослабленные, тонкие и расслаивающиеся ногти. 3 в 1 ультра стволовые клетки винограда Содержит стволовые клетки винограда и витаминный комплекс. Восстанавливает, укрепляет и выравнивает ногти.
                .productTabPanel.tabs-pane#tab2(data-tabs-pane)
                    p 2
                .productTabPanel.tabs-pane#tab3(data-tabs-pane)
                    p 3
                .productTabPanel.tabs-pane#tab4(data-tabs-pane)
                    p 4
                .productTabPanel.tabs-pane#tab5(data-tabs-pane)
                    .productReviews
                        .productReview
                            .productReviewAvatar
                                +svgIcon('icon-vk')
                            .productReviewContent
                                .productReviewDate
                                    | 15 декабря
                                .productReviewAuthor
                                    | Мария Светлакова
                                .productReviewText
                                    | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                            .productReviewPhoto
                                img(src="img/item-1.png", alt="")
                        .productReview
                            .productReviewAvatar
                                img(src="img/avatar.jpg", alt="")
                            .productReviewContent
                                .productReviewDate
                                    | 15 декабря
                                .productReviewAuthor
                                    | Мария Светлакова
                                .productReviewText
                                    | Спасибо компании Libreferm за заботу о моей коже! Я очень рада что узнала о вашей косметике. Теперь пользуюсь только ею.
                            .productReviewPhoto
                                img(src="img/item-1.png", alt="")
                    form.productReviewForm
                        .productReviewFormHeader
                            | Написать отзыв
                        .productReviewFormContent
                            .uiTextInputGroup
                                textarea(type="text" placeholder="Текст отзыва")
                                label Ваш отзыв
                        .productReviewFormSubmits
                            button.buttonBlueMedium Отправить
                            .productReviewFormFile
                                .productReviewFormFileIcon
                                    +svgIcon('icon-plus')
                                .productReviewFormFileText
                                    | Добавить фото

        .productBundle
            .productBundleHeader
                h2 Комплексный уход
            .productBundleItems
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id1
                            label(for="id1").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemEqual
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id3
                            label(for="id3").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                   include ../svg/icon-wishlist.svg
                .productBundleItem
                    .productBundleFinal
                        .productBundleFinalName
                            | Комплексный гиалуроновый уход за кожей
                        .productBundleFinalDescription
                            | Закажите комплекс и получите скидку 15%
                        .productBundleFinalPrice
                            .productBundleFinalPriceSale
                                | 1399
                                .ruble г
                            .productBundleFinalPriceValue
                                | 1199
                                .ruble г
                        .productBundleFinalButton
                            .productBundleAddCart
                                .productBundleAddCartIcon
                                    +svgIcon('icon-cart')
                                .productBundleAddCartText
                                    | В корзину


        .productBundle
            .productBundleHeader
                h2 Комплексный уход
            .productBundleItems.productBundleItemsFour
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id1
                            label(for="id1").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemPlus
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id2
                            label(for="id2").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                include ../svg/icon-wishlist.svg
                .productBundleItem.productBundleItemEqual
                    .cardProduct.cardProductWhite.cardProductVertical
                        .productSelect
                            input(type="checkbox" checked)#id3
                            label(for="id3").checkbox
                        .cardProductImage
                            img(src="img/item-1.png", alt="alt")
                        .cardProductContent
                            .cardProductHeader
                                | солнцезащитный бальзам для губ bronzeada с пантенолом
                            .cardProductDescription
                                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                            .cardProductRow
                                .cardProductPrice
                                    | 399
                                    .ruble г
                                .cardProductCart
                                    +svgIcon('icon-cart')
                                .cardProductWhish
                                include ../svg/icon-wishlist.svg
                .productBundleItem
                    .productBundleFinal
                        .productBundleFinalName
                            | Комплексный гиалуроновый уход за кожей
                        .productBundleFinalDescription
                            | Закажите комплекс и получите скидку 15%
                        .productBundleFinalPrice
                            .productBundleFinalPriceSale
                                | 1399
                                .ruble г
                            .productBundleFinalPriceValue
                                | 1199
                                .ruble г
                        .productBundleFinalButton
                            .productBundleAddCart
                                .productBundleAddCartIcon
                                    +svgIcon('icon-cart')
                                .productBundleAddCartText
                                    | В корзину
        .productInstagramm
            .productInstagrammHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productInstagrammContent
        .productBlock
            .productBlockHeader
                h2 о Креме ГИАЛУРОНОВОМ увлажняющем в Instagram
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyLarge
                    | в каталог
        .productBlock
            .productBlockHeader
                h2 Рекомендуемые товары
            .productBlockContent
                .mainRow
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                .mainRow
                    .mainCellFifth
                        a(href="#").cardProduct.cardProductLightGrey
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .mainCellSeventh
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
            .mainSectionFooter
                button.buttonBlueMore
                    | +
                a(href="#").buttonGreyLarge
                    | в каталог