extends _layout

block content
    .catalog
        .catalogSection
            .catalogSectionHeader
                h1 Найдено 0 по запросу "крем визаж"
            .catalogSectionContent
                .catalogSectionSubheader
                    h2 Но Вас могут заинтересовать
                .catalogRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .catalogCellThird
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductYellow
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                .catalogDoubleRow
                    .catalogCellSixth
                        a(href="#").cardProduct.cardProductVertical.cardProductWhite
                            .cardProductLabel
                                | Новинка
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                    .catalogCellSixth.catalogCellSixthVertical
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg
                        a(href="#").cardProduct.cardProductWhite
                            .cardProductImage
                                img(src="img/item-1.png", alt="alt")
                            .cardProductContent
                                .cardProductHeader
                                    | солнцезащитный бальзам для губ bronzeada с пантенолом
                                .cardProductDescription
                                    | Обеспечивает эффективную защиту от обветривания и солнечных лучей
                                .cardProductRow
                                    .cardProductPrice
                                        | 399
                                        .ruble г
                                    .cardProductCart
                                        +svgIcon('icon-cart')
                                    .cardProductWhish
                                       include ../svg/icon-wishlist.svg

            .pagination
                .paginationButton
                    a(href="#").paginationButtonPrev
                        +svgIcon('icon-arrow-left-logn')
                        span Предыдущая

                    a(href="#").paginationButtonNext
                        span Следующая
                        +svgIcon('icon-arrow-right-logn')
                .paginationItem
                    a(href="#").paginationItemActive 1
                    a(href="#") 2
                    a(href="#") 3
                    a(href="#") 4
                    a(href="#") 5
                    a(href="#") 6
                    a(href="#") ...
                    a(href="#") 10
