extends _layout

block content
    .wish
        .wishHeader
            h1 Ваш Wish list
        .wishContent
            .wishSubheader
                h2 Тоник
            .wishContentItems
                .wishItems.swiper-container
                    .swiper-wrapper
                        - for (var i = 0; i < 10; ++i) {
                            .wishItem.swiper-slide
                                .wishItemDelete
                                    +svgIcon('icon-close')
                                .wishItemImage
                                    img(src="img/item-1.png", alt="")
                                .wishItemName
                                    | Мицеллярный тоник
                                .wishItemPrices
                                    .wishItemPrice
                                        | 399
                                        .ruble г
                                    .wishItemAddCart
                                        include ../svg/icon-cart2.svg
                                        .wishItemAddCartTooltip
                                            | Добавить в корзину
                                .wishItemSpecs
                                    .wishItemSpec
                                        +svgIcon('icon-age')
                                        span 20-30 лет
                                    .wishItemSpec
                                        +svgIcon('icon-age')
                                        span Тип нормальный
                                    .wishItemSpec
                                        +svgIcon('icon-sun')
                                        span Дневной
                                    .wishItemSpec
                                        +svgIcon('icon-less')
                                        span Без красителей
                        - }
                    .swiper-scrollbar

                .wishAddItem
                    .wishAddItemIcon
                        +svgIcon('icon-plus')
                    .wishAddItemText
                        | Добавьте товары для сравнения из этой категории
            .wishSubheader
                h2 Тоник
            .wishContentItems
                .wishItems.swiper-container
                    .swiper-wrapper
                        - for (var i = 0; i < 3; ++i) {
                            .wishItem.swiper-slide
                                .wishItemDelete
                                    +svgIcon('icon-close')
                                .wishItemImage
                                    img(src="img/item-1.png", alt="")
                                .wishItemName
                                    | Мицеллярный тоник
                                .wishItemPrices
                                    .wishItemPrice
                                        | 399
                                        .ruble г
                                    .wishItemAddCart
                                        include ../svg/icon-cart2.svg
                                        .wishItemAddCartTooltip
                                            | Добавить в корзину
                                .wishItemSpecs
                                    .wishItemSpec
                                        +svgIcon('icon-age')
                                        span 20-30 лет
                                    .wishItemSpec
                                        +svgIcon('icon-age')
                                        span Тип нормальный
                                    .wishItemSpec
                                        +svgIcon('icon-sun')
                                        span Дневной
                                    .wishItemSpec
                                        +svgIcon('icon-less')
                                        span Без красителей
                        - }
                    .swiper-scrollbar

                .wishAddItem
                    .wishAddItemIcon
                        +svgIcon('icon-plus')
                    .wishAddItemText
                        | Добавьте товары для сравнения из этой категории

        .wishFooter
            .wishControl
                button.buttonBlueMedium переместить все товары в корзину
            .wishShare
                p Облегчите выбор подарка для вас. Поделитесь с друзьями и близкими своим Wish list.
                .wishShareSocialLinks
                    a(href="#").wishShareSocialLink
                        +svgIcon('icon-vk')
                    a(href="#").wishShareSocialLink
                        +svgIcon('icon-ok')
                    a(href="#").wishShareSocialLink
                        +svgIcon('icon-yt')
                    a(href="#").wishShareSocialLink
                        +svgIcon('icon-ig')
                    a(href="#").wishShareSocialLink
                        +svgIcon('icon-fb')