.footer
    box horizotal top
    display block
    width 100%
    padding 0 70px
    +below(1060px)
        display none

.footerCopyright
    margin-bottom 35px
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-align center
    text-decoration none

.footerRows
    width 100%

.footerRow
    box horizontal top
    width 100%
    .footerColumn
        lost-column 1 / 3

.footerColumn
    lost-column 3 / 12

.footerLogo
    margin-bottom 35px
    svg
        size 100px

.footerMenu
    box vertical top left
    margin-bottom 35px

.footerMenuHeader
    display inline-block
    position relative
    width auto
    min-height 23px
    margin-bottom 26px
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    text-decoration none
    transition all .4s
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        transition all .4s
        size 100% 2px
    &:hover
        color #44c8f5
        &:after
            background-color #44c8f5

.footerMenuItem
    position relative
    width 100%
    color #878786
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 30px
    text-decoration none
    &:after
        display block
        position absolute
        top 0
        left -10px
        z-index -1
        opacity 0
        background-color #f0f0f2
        content ''
        transition all .2s
        size 90% 100%
    &:hover
        color #000
        &:after
            opacity 1

.footerSocial
    box horizontal middle left

.footerSocialItem
    margin-right 20px
    size 20px
    svg
        transition all .4s
        size 20px
    &:hover
        svg
            fill #44c8f5