.blogRow
    box horizontal top
    position relative
    height 408px
    +below(960px)
        box vertical top
        height auto

.blogCard
    position relative
    height 100%
    transition all .4s easeOutBack
    +below(960px)
        height 400px
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, .48)
        .blogCardContentHover
            opacity 1

.blogCardBig
    lost-column 8 / 12 0 0 flex
    +below(960px)
        lost-column 1 / 1 0 0 flex

.blogCardSmall
    lost-column 4 / 12 0 0 flex
    +below(960px)
        lost-column 1 / 1 0 0 flex

.blogCardCategory
    display block
    position absolute
    top 21px
    left 28px
    height 32px
    z-index 30
    padding 0 28px
    background-color #fff
    color #6d6e71
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 300
    line-height 32px

.blogCardImage
    display block
    position absolute
    top 0
    left 0
    z-index 10
    background-size cover
    background-repeat no-repeat
    size 100%

.blogCardGradient
    display block
    position absolute
    top 0
    left 0
    z-index 15
    background-image linear-gradient(to top, rgba(255, 255, 255, .78) 40%, rgba(255, 255, 255, 0) 100%)
    transition all .4s easeOutBack
    size 100%

.blogCardContentHover
    box vertical middle left
    position absolute
    z-index 25
    opacity 0
    padding 0 10%
    background-color #f3f2f3
    pointer-events none
    transition all .4s easeOutBack
    size 100%

.blogCardContent
    box vertical top left
    display block
    position absolute
    top 265px
    left 28px
    z-index 20

.blogCardDate
    position relative
    width auto
    margin-bottom 25px
    color #242424
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 20px
    text-transform uppercase
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #000
        content ''
        size 100% 2px

.blogCardTitle
    display block
    color #242424
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px