.blogTopics
    box horizontal middle
    margin-bottom 30px
    flex-wrap wrap

.blogTopic
    position relative
    height 40px
    overflow hidden
    margin-right 7px
    margin-bottom 11px
    padding 0 22px
    border 1px solid #f0f0f2
    color #000
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 14px
    font-weight 400
    line-height 40px
    text-transform uppercase
    text-decoration none
    transition all .4s
    &:hover,
    &Active
        background-color #87dbff
        border-color #87dbff
        color #fff
    .waves-ripple
        background rgba(#44c8f5, 1)
        color #fff