.cardInfo
    box horizontal top
    width 100%
    height 280px
    margin-bottom 100px
    padding 0 70px
    +below(768px)
        padding 0 20px
    +below(600px)
        box vertical top
        height auto
        margin-bottom 40px

.cardInfoSocial
    lost-column 5 / 12 2 0 flex
    padding 50px 46px
    background-color #f0f0f2
    align-self stretch
    +below(600px)
        lost-column 1 / 1 1 0 flex
        padding 40px 30px
    &Header
        margin-bottom 35px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
    &Items
        box horizontal middle left
    &Item
        margin-right 20px
        size 20px
        svg
            transition all .4s
            size 20px
        &:hover
            svg
                fill #44c8f5

.cardInfoBlog
    lost-column 7 / 12 2 0 flex
    position relative
    margin-left 0 !important
    padding 50px 46px
    background-size cover
    background-repeat no-repeat
    align-self stretch
    background-position center center
    +below(600px)
        lost-column 1 / 1 1 0 flex
        padding 40px 30px
    &Overlay
        display block
        position absolute
        top 0
        left 0
        z-index 10
        background-color rgba(255, 255, 255, .83)
        size 100%
    &Header
        position relative
        z-index 20
        margin-bottom 35px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
    &Link
        position relative
        z-index 20