.cardSale
    box horizontal top
    position relative
    padding 0 48px 0 27px
    background-color #f3f2f3
    text-decoration none
    transition all .4s easeOutBack
    size 100%
    +below(960px)
        height auto
    &:hover
        z-index 100
        box-shadow 0 2px 21px rgba(35, 64, 77, .48)
    &Yellow
        background-color #f7d15e
    &White
        background-color #fff
        .cardSaleHeaderText
            color #242424
            &:after,
            &:before
                background-color #242424
        .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &YellowBlack
        background-color #f7d15e
        .cardSaleHeaderText
            color #242424
            &:after,
            &:before
                background-color #242424
        .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &LightGrey
        background-color #f3f2f3
        .cardSaleHeaderText
            color #242424
            &:after,
            &:before
                background-color #242424
        .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &Grey
        background-color #f0f0f2
        .cardSaleHeaderText
            color #242424
            &:after,
            &:before
                background-color #242424
        .cardSaleHeaderValue
            color #242424
        .cardSaleDescription
            color #90908f
    &LightYellow
        background-color #fff59b
    &Blue
        background-color #44c8f5
    &LightGreen
        background-color #72d7a1
    &Big
        .cardSaleContent
            padding-top 128px

.cardSaleImage
    lost-column 1 / 3 flex
    box vertical middle center
    height 100%
    margin-right 33px
    +below(960px)
        padding-top 20px

.cardSaleContent
    lost-column 2 / 3 flex
    padding 44px 0

// width auto
.cardSaleContentWrap
    box vertical top flex-start

.cardSaleHeader
    box horizontal middle
    margin-bottom 26px

.cardSaleHeaderText
    position relative
    margin-right 36px
    color #fff
    font-family 'decima', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 400
    line-height 23px
    text-transform uppercase
    &:after
        position absolute
        bottom -4px
        left 0
        background-color #fff
        content ''
        size 100% 2px
    &:before
        position absolute
        top -4px
        left 0
        background-color #fff
        content ''
        size 100% 2px

.cardSaleHeaderValue
    color #fff
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 48px
    font-weight 300

.cardSaleDescription
    flex 0 1 auto
    width 100%
    margin-bottom 20px
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 28px

.cardSaleColorsSlider
    box horizontal middle left
    margin -10px 0 0
    padding-bottom 10px

.cardSaleColors
    position relative
    width 190px
    // margin-top -10px
    margin 0
    .swiper-slide
        width 26px

.cardSaleColor
    display block
    border-radius 50%
    size 26px

.cardSaleColorsNext
    display block
    margin-left 10px
    size 26px

// position absolute
// right -10px
// top 50%
.cardSaleRow
    box horizontal middle left

.cardSalePrice
    margin-right 67px
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 300
    line-height 28px

.cardSaleCart
    box vertical middle center
    margin-right 28px
    svg
        size 24px

.cardSaleWhish
    box vertical middle center
    svg
        overflow visible
        transition all .5s easeOutBack
        size 24px
        fill #44c8f5
        #hover
            transition all .5s easeOutBack
            transform scale(0)
            fill #44c8f5
            transform-origin center