.cardSimple
    box vertical center left
    display block
    position relative
    padding 74px 80px 50px
    size 100%
    &Grey
        background-color #f0f0f2
    +below(768px)
        padding 40px 20px

.cardSimpleHeader
    flex 0 1 auto
    margin-bottom 20px
    span
        display inline-block
        position relative
        color #242424
        font-family 'decima'
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            position absolute
            bottom -3px
            left 0
            background #242424
            content ''
            size 100% 2px

.cardSimpleContent
    flex 0 1 auto
    margin-bottom 30px
    p
        color #242424
        font-family 'graphik'
        font-size 16px
        font-weight 300
        line-height 28px

.cardCollectionControl
    flex 0 1 auto
    z-index 1000
