.cardSubscribe
    box vertical top left
    display block
    position relative
    padding 50px 80px
    size 100%
    &Blue
        background-color #44c8f5
    &Grey
        background-color #f5f5f5
        .cardSubscribeHeader
            span
                color #242424
        .cardSubscribeContent
            color #242424
    +below(768px)
        padding 40px 20px

.cardSubscribeHeader
    flex 0 1 auto
    margin-bottom 10px
    span
        display inline-block
        position relative
        color #f5f5f5
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 30px
        font-weight 300
        line-height 36px

.cardSubscribeContent
    flex 0 1 auto
    margin-bottom 30px
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 28px

.cardCollectionControl
    flex 0 1 auto
    z-index 1000

.cardSubscribeForm
    width 100%

.cardSubscribeFormItems
    box horizontal middle
    width 100%
    margin-bottom 26px
    flex-wrap wrap

.cardSubscribeFormItem
    lost-column 1 / 2 2 flex
    +below(768px)
        lost-column 1 / 1 1 flex
        margin-bottom 30px
        &:last-child
            margin-bottom 10px
