.cardVideo
    box vertical middle left
    flex 0 1 auto
    position relative
    width 100%
    height 100%
    align-self stretch
    align-self stretch

.cardVideoImage
    position absolute
    z-index -1
    background-size cover
    background-repeat no-repeat
    size 100%
    background-position center center

.cardVideoContent
    box vertical center left
    flex 0 1 auto
    width 100%
    padding 0 80px
    +below(960px)
        padding 40px 80px
    +below(768px)
        padding 40px 20px

.cardVideoTitle
    flex 0 1 auto
    margin-bottom 15px
    span
        display inline-block
        position relative
        color #f5f5f5
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 16px
        font-weight 400
        line-height 20px
        text-transform uppercase
        &:after
            position absolute
            bottom -3px
            left 0
            background #f5f5f5
            content ''
            size 100% 2px

.cardVideoQuote
    flex 0 1 auto
    margin-bottom 30px
    color #f5f5f5
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 18px
    font-weight 200
    line-height 37px

.cardVideoControl
    flex 0 1 auto
    button
        box horizontal middle
        svg
            margin-right 14px
            padding-bottom 1px
            transition all .4s
            size 18px
            fill #242424
        &:hover
            svg
                fill #fff
