.main
    width 100%
    padding 0 70px
    +below(768px)
        padding 0

.mainGrid
    box vertical top

.mainSection
    box vertical top
    margin-bottom 70px

.mainSectionHeader
    width 100%
    margin-bottom 35px
    border-bottom 2px solid #000000
    h2
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 24px
        font-style normal
        font-weight normal
        font-stretch normal
        line-height 36px
        letter-spacing normal
        text-transform uppercase
    +below(768px)
        width calc(100% - 40px)
        margin-left 20px

.mainSectionContent
    width 100%
    margin-bottom 50px

.mainSectionFooter
    box horizontal middle center
    width 100%
    .buttonBlueMore
        margin-right 16px

.mainRow
    position relative
    height 308px
    lost-flex-container row
    +below(1310px)
        height auto

.mainDoubleRow
    position relative
    height 616px
    lost-flex-container row
    +below(1310px)
        height auto

.mainCellTwo
    lost-column 2 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.mainCellThird
    lost-column 1 / 3 3 0 flex
    position relative
    margin 0
    align-self stretch
    &:last-child
        margin-left 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.mainCellSeventh
    lost-column 7 / 12 2 0 flex
    position relative
    margin 0 !important
    +below(960px)
        lost-column 1 / 1 1 0 flex

.mainCellFifth
    lost-column 5 / 12 2 0 flex
    position relative
    margin 0 !important
    &Vertical
        box vertical
    +below(960px)
        lost-column 1 / 1 1 0 flex
