.cabinetHistoryFilter
    box horizontal middle
    margin-bottom 19px
    flex-wrap wrap
    a
        position relative
        height 40px
        overflow hidden
        margin-right 7px
        margin-bottom 7px
        padding 0 22px
        border 1px solid #f0f0f2
        color #000
        font-family 'graphik', Arial, Helvetica, sans-serif
        font-size 14px
        font-weight 400
        line-height 40px
        text-transform uppercase
        text-decoration none
        transition all .4s
        &:hover
            background-color #87dbff
            border-color #87dbff
            color #fff
        .waves-ripple
            background rgba(#44c8f5, 1)
            color #fff
    .active
        background-color #87dbff
        border-color #87dbff
        color #fff

.cabinetHistroryItems
    box vertical top

.cabinetHistroryItem
    display block
    position relative
    padding 44px 94px
    background-color #f5f5f5
    +below(1000px)
        padding 44px 40px
    +below(768px)
        padding 44px 30px
    +below(600px)
        padding 84px 30px 44px
    &:nth-child(even)
        background-color #fff

.cabinetHistroryItemStatus
    display block
    position absolute
    top 30px
    right 0
    height 36px
    padding 0 40px
    color #FFF
    font-family 'graphik', Arial, Helvetica, sans-serif
    font-size 16px
    font-weight 400
    line-height 36px
    text-decoration none
    &Black
        background-color #000
    &Grey
        background-color #90908f

.cabinetHistroryItemHeader
    box horizontal middle left
    margin-bottom 19px
    h3
        margin-right 19px
        color #242424
        font-family 'decima', Arial, Helvetica, sans-serif
        font-size 18px
        font-weight 400
        line-height 23px
        text-transform uppercase
    a
        padding-top 1px
        svg
            transition all .4s
            size 16px
        &:hover
            svg
                fill #87dbff

.cabinetHistroryItemTable
    table
        width 100%
        td
            padding-bottom 10px
            color #242424
            font-family 'graphik', Arial, Helvetica, sans-serif
            font-size 16px
            font-weight 400
            line-height 22px
            +below(600px)
                vertical-align top
            &:first-child
                padding-right 20px
                color #90908f