.js-tabby .tabs-pane
    position absolute
    width 1px
    height 0
    overflow hidden
    margin 0
    padding 0
    border 0
    clip rect(0 0 0 0)
    transition all .4s

.js-tabby .tabs-pane.active
    position static
    width auto
    height auto
    overflow visible
    margin 0
    clip auto

.js-tabby .tabs-pane:focus
    outline none