mixin productCard(color)
    - classname = 'cardProduct' + ' ' + 'cardProduct' + color
    a(class=classname href="#")
        .cardProductImage
            img(src="img/item-1.png", alt="alt")
        .cardProductContent
            .cardProductHeader
                | солнцезащитный бальзам для губ bronzeada с пантенолом
            .cardProductDescription
                | Обеспечивает эффективную защиту от обветривания и солнечных лучей
            .cardProductRow
                .cardProductPrice
                    | 399
                    .ruble г
                .cardProductCart
                    include ../../../svg/icon-cart2.svg
                    .cardProductCartTooltip
                        | Добавить в корзину
                .cardProductWhish
                    include ../../../svg/icon-wishlist.svg
                    .cardProductWhishTooltip
                        | Добавить в избранное