.modalCart
    .modalClose
        +svgIcon('icon-close')
    .modalCartHeader
        | Корзина
    .modalCartContent
        .modalCartTable
            table
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell
                        .modalCartTableQty
                            .modalCartTableQtyMinus
                                +svgIcon('icon-minus')
                            .modalCartTableQtyText 1
                            .modalCartTableQtyPlus
                                +svgIcon('icon-plus')
                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | 299
                                .ruble г
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')
                tr
                    td.modalCartTableImage
                        img(src='img/item-1.png')
                    td.modalCartTableName
                        | Бальзам для губ 3D Гиалуроновый филлер
                    td.modalCartTableQtyCell

                    td.modalCartTablePriceCell
                        .modalCartTablePrice
                            .modalCartTablePriceValue
                                | Подарок
                    td.modalCartTablePriceDelete
                        button.buttonDelete
                            +svgIcon('icon-close')


    .modalCartFooter
        .modalCartTotals
            .cartTotalDelivery
                | До бесплатной доставки осталось
                span
                    | 299
                    .ruble г
                a(href="#") Условия доставки
            .cartTotal
                table.cartTotalTable

                    tr
                        td.cartTotalTableSumText
                            | Сумма без скидки

                        td.cartTotalTableSumValue
                            | 299
                            .ruble г
                    tr
                        td.cartTotalTableSumText
                            b Итого сумма со скидкой
                        td.cartTotalTableSumValue
                            | 299
                            .ruble г
                            span
                                | (Экономия 299
                                .ruble г
                                | )
        .modalCartOrder
            button.buttonBlueMedium Оформить заказ
            button.buttonGrey В корзину
            button.buttonSimpleText Купить в один клик