include ./_mobile-header

.headerTop
    .headerTopWrap
        .headerTopWork
            | Работаем по всей России. Бесплатная доставка от 3000 руб.
        .headerTopPhone
            .headerTopPhoneLink
                a(href="tel: +7 (800) 234-82-28") +7 (800) 234-82-28
            .headerTopPhoneButton
                button.buttonBlueSmall
                    paper-ripple
                    | Заказать звонок
        .headerTopSocial
            a(href="#")
                +svgIcon('icon-vk')
            a(href="#")
                +svgIcon('icon-ok')
            a(href="#")
                +svgIcon('icon-yt')
            a(href="#")
                +svgIcon('icon-ig')
            a(href="#")
                +svgIcon('icon-fb')
        .headerTopAccount
            .headerTopLogin(data-modal="#modal_login")
                +svgIcon('ic_person_18px')
                .headerTopLoginText
                    | Вход
            ||
            .headerTopRegistation
                .headerTopRegistationText
                    | Регистрация
.header
    .headerWrap
        .headerLogo
            a(href="#")
                +svgIcon('logo')
        .headerControl
            .headerPrima
                .headerMenu
                    .headerMenuItem.headerMenuItemAll
                        a(href="#")
                            span Вся продукция
                        +svgIcon('icon-arrow2')
                    .headerMenuItem
                        a(href="#") Лицо
                    .headerMenuItem
                        a(href="#") Тело
                    .headerMenuItem
                        a(href="#") Волосы
                    .headerMenuItem.headerMenuItemActive
                        a(href="#") Коллекции
                    .headerMenuItem
                        a(href="#") Новинки
                    .headerMenuItem
                        a(href="#") акции
                .headerCarts
                    .headerWishListIcon
                        include ../../svg/icon-wishlist.svg
                        .headerWishListCount
                            | 4
                        .headerWishListPopup
                            .headerWishListPopupHeader
                                | Wish list
                            .headerWishListPopupText
                                | Ваши избраные товары
                    .headerCart
                        .headerCartIcon
                            +svgIcon('icon-cart')
                            .headerCartCount
                                | 5
                        .headerCartTotal
                            span На сумму
                            | 1500
                            .ruble г
                        .headerCartPopup
                            .headerCartPopupHeader
                                | Вы ранее добавили товары
                            .headerCartPopupText
                                | Оформи прямо сейчас и получи подарок
                            a(href="#").headerCartPopupLink
                                | ОФормить заказ
            .headerSecundo
                .headerMenuBottom
                    .headerMenuBottomItem.headerMenuBottomItemActive
                        a(href="#") О компании
                    .headerMenuBottomItem
                        a(href="#") Где купить
                    .headerMenuBottomItem
                        a(href="#") Оплата и доставка
                    .headerMenuBottomItem
                        a(href="#") Наш блог
                    .headerMenuBottomItem
                        a(href="#") Диагностика
                    .headerMenuBottomItem
                        a(href="#") Календарь событий
                    .headerMenuBottomItem
                        a(href="#") Контакты
                .headerSearch
                    button.buttonSearch
                        +svgIcon('icon-search')
                    .headerSearchInput
                        input(type="text" placeholder="Поиск...")
                        .headerSearchPanel
                            .headerSearchPanelHeader
                                | Лучшее совпадение
                            .headerSearchPanelItems
                                a(href="#").headerSearchPanelItem
                                    .headerSearchPanelItemImage
                                        img(src="img/item-1.png", alt="alt")
                                    .headerSearchPanelItemText
                                        h3 Матирующий тоник
                                        span
                                            | 689
                                            .ruble г
                            .headerSearchPanelHeader
                                | Продукция
                                a(href="#", title="title") Остальные 5 товаров
                            .headerSearchPanelItems
                                a(href="#").headerSearchPanelItem
                                    .headerSearchPanelItemImage
                                        img(src="img/item-1.png", alt="alt")
                                    .headerSearchPanelItemText
                                        h3 Матирующий тоник
                                        span
                                            | 689
                                            .ruble г
                                a(href="#").headerSearchPanelItem
                                    .headerSearchPanelItemImage
                                        img(src="img/item-1.png", alt="alt")
                                    .headerSearchPanelItemText
                                        h3 Матирующий тоник
                                        span
                                            | 689
                                            .ruble г
                            .headerSearchPanelHeader
                                | Продукция
                                a(href="#", title="title") Остальные 5 товаров
                            .headerSearchPanelItems
                                a(href="#").headerSearchPanelItem
                                    .headerSearchPanelItemImage
                                        img(src="img/item-1.png", alt="alt")
                                    .headerSearchPanelItemText
                                        h3 Матирующий тоник
                                        span
                                            | 689
                                            .ruble г
                                a(href="#").headerSearchPanelItem
                                    .headerSearchPanelItemImage
                                        img(src="img/item-1.png", alt="alt")
                                    .headerSearchPanelItemText
                                        h3 Матирующий тоник
                                        span
                                            | 689
                                            .ruble г


.largeMenu
    .largeMenuImage
        img(src="img/item-1.png", alt="alt")
    .largeMenuRows
        .largeMenuRow
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                    | Лицо
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Уход за кожей лица
                    a(href="#").largeMenuMenuItem Уход за губами
                    a(href="#").largeMenuMenuItem Уход за кожей вокруг глаз
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                    | Тело
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Уход за телом
                    a(href="#").largeMenuMenuItem Уход за руками
                    a(href="#").largeMenuMenuItem Уход за кожей ног
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                    | Волосы
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Уход за волосами

        .largeMenuRow
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                    | Вся продукция
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Антиперспиранты
                    a(href="#").largeMenuMenuItem БАД
                    a(href="#").largeMenuMenuItem Бальзам для губ
                    a(href="#").largeMenuMenuItem Бальзам для волос
                    a(href="#").largeMenuMenuItem ВВ крем
                    a(href="#").largeMenuMenuItem Гель для душа
                    a(href="#").largeMenuMenuItem Крем для лица
                    a(href="#").largeMenuMenuItem Крем для области вокруг глаз
                    a(href="#").largeMenuMenuItem Маска для лица
                    a(href="#").largeMenuMenuItem Миценлярная вода
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Крем для рук
                    a(href="#").largeMenuMenuItem Крем для ног
                    a(href="#").largeMenuMenuItem Крем для области вокруг глаз
                    a(href="#").largeMenuMenuItem Маска для лица
                    a(href="#").largeMenuMenuItem Мицелярная вода
                    a(href="#").largeMenuMenuItem Салфетка-автозагар
                    a(href="#").largeMenuMenuItem Средство для снятия макияжа
            .largeMenuColumn
                a(href="#").largeMenuMenuHeader
                    | Коллекции
                .largeMenuMenu
                    a(href="#").largeMenuMenuItem Аевит
                    a(href="#").largeMenuMenuItem Гиалуроновая
                    a(href="#").largeMenuMenuItem Витамин Е
                    a(href="#").largeMenuMenuItem Витамин F
                    a(href="#").largeMenuMenuItem Коллаген
                    a(href="#").largeMenuMenuItem Пантенол
                    a(href="#").largeMenuMenuItem Стволовые клетки винограда
                    a(href="#").largeMenuMenuItem Травяная
                    a(href="#").largeMenuMenuItem Мицеклин
                    a(href="#").largeMenuMenuItem 3D Филлер