.mainSection
    .mainSectionHeader
        h2 Блог Librederm
    .mainSectionContent
        .blogRow
            a(href="#").blogCard.blogCardBig
                .blogCardCategory
                    | Новость
                .blogCardImage(style="background-image: url('img/blog-1.jpg')")
                .blogCardGradient
                .blogCardContent
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями
                .blogCardContentHover
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями
            a(href="#").blogCard.blogCardSmall
                .blogCardCategory
                    | Новость
                .blogCardImage(style="background-image: url('img/blog-2.jpg')")
                .blogCardGradient
                .blogCardContent
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями
                .blogCardContentHover
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями
        .blogRow
            a(href="#").blogCard.blogCardSmall
                .blogCardCategory
                    | Новость
                .blogCardImage(style="background-image: url('img/blog-2.jpg')")
                .blogCardGradient
                .blogCardContent
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями
                .blogCardContentHover
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встреч
            a(href="#").blogCard.blogCardBig
                .blogCardCategory
                    | Новость
                .blogCardImage(style="background-image: url('img/blog-1.jpg')")
                .blogCardGradient
                .blogCardContent
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями
                .blogCardContentHover
                    .blogCardDate
                        | 15 мая 2017
                    .blogCardTitle
                        | Фотоотчет со встречи Юлии Барановской с читателями, Фотоотчет со встречи Юлии Барановской с читателями

    .mainSectionFooter
        button.buttonBlueMore
            | +
        a(href="#").buttonGreyLarge
            | все материалы