.socialSection
    .socialSectionHeader
        h3 Присоединяйтесь к нам в социальных сетях
    .socialSectionSlogan
        | И Вы будете получать акции скидки
    .socialSectionItems
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconVK
                +svgIcon('icon-vk')
            .socialSectionText +1
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconOK
                +svgIcon('icon-ok')
            .socialSectionText 5816
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconYT
                +svgIcon('icon-yt')
            .socialSectionText 999+
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconIG
                +svgIcon('icon-ig')
            .socialSectionText 250
        a(href="#").socialSectionItem
            .socialSectionIcon.socialSectionIconFB
                +svgIcon('icon-fb')
            .socialSectionText 1.9 тыс