.mobileHeader
    .mobileHeaderLeft
        .mobileHeaderMenu
            | меню
        .mobileHeaderSearch
            +svgIcon('icon-search')
    .mobileHeaderMiddle
        a(href="#").mobileHeaderLogo
            +svgIcon('logo')
    .mobileHeaderRight
        .headerWishListIcon
            include ../../svg/icon-wishlist.svg
            .headerWishListCount
                | 4
        .headerCart
            .headerCartIcon
                +svgIcon('icon-cart')
                .headerCartCount
                    | 5
